[submodule "hh-suite/lib/ffindex"]
	path = hh-suite/lib/ffindex
	url = https://github.com/soedinglab/ffindex_soedinglab.git
	branch = LRRpredictor

[submodule "Predict_Property"]
	path = Predict_Property
	url = https://github.com/eliza-m/Predict_Property.git
	branch = for_lrrpredictor
[submodule "TGT_Package"]
	path = TGT_Package
	url = https://github.com/eliza-m/TGT_Package.git
	branch = for_lrrpredictor
