[submodule "hh-suite"]
	path = hh-suite
	url = https://github.com/eliza-m/hh-suite
	branch = LRRpredictor


[submodule "RaptorX_Property_Fast"]
	path = RaptorX_Property_Fast
	url = https://github.com/eliza-m/RaptorX_Property_Fast
	branch = LRRpredictor

